{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Actividad Fronted</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg bg-primary">
      <div class="container-fluid position-relative">
        <a class="navbar-brand" href="#">Food Xperian </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Quienes_Somos">Sobre Nosotros</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="True">
                + Mas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#Servicio">Que puedes encontrar</a></li>
                <li><a class="dropdown-item" href="#nuestro_local">Nuestro Lugar</a></li>
                <li><a class="dropdown-item" href="#Contacto">Contactanos</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:4200/Tienda/getDatoDomicilioListApi">Ubicacion</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <aside class="position-fixed fixed-left bg-primary">
    <div class=" col-sm-0 col-md-3 col-lg-3">
      <nav class="sidenav">
        <ul class="list-unstyled">
          <li><a href="#"><i class="bi bi-house-fill"></i> Inicio</a></li>
          <li><a href="#Quienes_Somos"><i class="bi bi-person-heart"></i> Sobre nosotros</a></li>
          <li><a href="#Servicio"><i class="bi bi-wallet-fill"></i> Que puedes encontrar</a></li>
          <li><a href="#nuestro_local"><i class="bi bi-caret-right-square-fill"></i> Nuestro Lugar</a></li>
          <li><a href="#Contacto"><i class="bi bi-envelope-fill"></i> Contactanos</a></li>
          <li><a href="#Ubicacion"><i class="bi bi-pin-map-fill"></i> Ubicacion</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <main>





  </main>

  <footer class="text-center text-white fixed-bottom bg-dark">
    <div class="text-center p-3 text-secondary">
      © 2023 Copyright:
      <a class="text-secondary">Todos a la u - Universidad Distrital</a>
    </div>
    <!-- Copyright -->
  </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>

</html>






